.normal {
    background-color: #c89e6b;
    color: #503a1f;
}

.grass {
    background-color: #92d1b4;
    color: #1a4e42;
}

.fire {
    background-color: #fd7a7a;
    color: #531818;
}

.water {
    background-color: #75bdfd;
    color: #2e485f;
}

.electric {
    background-color: #f5e585;
    color: #524a1c;
}

.ice {
    background-color: #98d5d7;
    color: #20494b;
}

.ground {
    background-color: #e7d060;
    color: #463d14;
}

.flying {
    background-color: #a98ff0;
    color: #261a49;
}

.poison {
    background-color: #ad7fae;
    color: #3e103f;
}

.fighting {
    background-color: #cf423a;
    color: #3d0c0a;
}

.psychic {
    background-color: #f65687;
    color: #6d263b;
}

.dark {
    background-color: #382d26;
    color: #b38f79;
}

.rock {
    background-color: #b5b8a7;
    color: #474b35;
}

.bug {
    background-color: #99c98b;
    color: #28461f;
}

.ghost {
    background-color: #6e5896;
    color: #b9a5df;
}

.steel {
    background-color: #b9b7cf;
    color: #34264d;
}

.dragon {
    background-color: #8b5dff;
    color: #250163;
}

.fairy {
    background-color: #f8cfd5;
    color: #664147;
}