.pokemon-detail {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.pokemon-detail h2 {
    margin-bottom: 20px;
}

.pokemon-detail .stat {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    gap: 12px;
    border-radius: 10px;
    padding: 8px;
}

.pokemon-detail .stat:hover {
    background-color: #f0f0f0;
}

.pokemon-detail .stat h3 {
    text-align: left;
    font-weight: 500;
    color: #696969;
}

.pokemon-detail .progress {
    display: grid;
    grid-template-columns: 5ch minmax(110px, 1fr);
    justify-content: end;
    align-items: center;
}

.pokemon-detail .progress progress {
    width: 110px;
}

.pokemon-detail .progress span {
    white-space: nowrap;
    font-weight: 600;
    width: 5ch;
}

.pokemon-detail progress[value]::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.pokemon-detail progress[value]::-webkit-progress-value {
    border: 3px solid #f0f0f0;
    border-radius: 20px;
}

.pokemon-detail progress span {
    position: absolute;
    top: 0;
    left: 0;
}


@media (max-width: 800px) {
    .pokemon-detail {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .pokemonDetail {
        padding: 0px;
    }
}

@media (max-width: 400px) {
    .pokemon-detail .stat {
        grid-template-columns: 8ch 1fr;
    }
    .pokemon-detail progress[value]::-webkit-progress-bar {
        width: 130px;
    }
}

@media (max-width: 350px) {    
    .pokemon-detail progress[value]::-webkit-progress-bar {
        width: 90px;
    }
}